.underline {
    background-color: rgb(51, 51, 139);
    padding: 5px;
    width: 20%;
    margin: auto;
}

img {
    margin: 20px;
}

.icon {
    cursor: pointer;
    color: aqua;
    margin: 10px;
}

h1 h2 h3 h4 h5 h6 {
    margin : 0%;
    padding: 0%;
}

body {
    position: relative;
}

body::before {
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    content: "";
    background-size: cover;
    filter: blur(3px);
    z-index: -1;
    background-image: url("https://us.123rf.com/450wm/ufabizphoto/ufabizphoto2010/ufabizphoto201000327/157826734-two-young-caucasian-colleagues-in-white-medical-gown-pharmacists-fulfilling-a-prescription-holding.jpg?ver=6")
}