.underline {
    background-color: rgb(51, 51, 139);
    padding: 5px;
    width: 20%;
    margin: auto;
}

img {
    margin: 20px;
}

.icon {
    cursor: pointer;
    color: aqua;
    margin: 10px;
}

h1 h2 h3 h4 h5 h6 {
    margin : 0%;
    padding: 0%;
}

input {
    margin: 5px;
}

button {
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 5px black;;
}

.blue-button {
    margin: 10px;
    background-color: blue;
    color: white;
}

body{
    position: relative;
}

body::before { 
    background-image: url("https://wallpaper.dog/large/20378251.jpg");
    background-size: cover;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    z-index: -1;
    content: "";
    filter: blur(5px);
}