.login-form {
    background-color: rgb(85, 85, 189);
    width: 25vw;
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    margin: auto;
    padding: 15px;
    position: absolute;
    left: 35vw;
    top:20vh
}

.login-header {
    color: red;
    text-align: center;
}

.login-btn {
    background-color: blue;
    color: white
}


@media only screen and (max-width : 1050px){
    .login-form{
        width: 40vw;
        left: 25vw;
        top: 18vh;
}}
@media only screen and (max-width : 630px){
    .login-form{
        width: 60vw;
        left: 15vw;
        top: 15vh;
    }
}
@media only screen and (max-width : 400px){
    .login-form{
        width: 100%;
        left: 0vw;
        top: 15vh;
    }
}