.home-container{
    text-align: center;
}

.home-header{
    text-shadow: 0px 0px 5px black;
    color: white
}

.home-box-container {
     display: grid;
     gap: 100px;
     grid-template-columns: auto auto;
     justify-content: center;
}

.home-box {
    box-shadow: 2px 2px 10px black;
    width : 30vw;
    padding: 20px;
    background-color: rgb(85, 85, 189);
    color: white;
}


@media only screen and (max-width : 1000px){
    .home-box-container{
        gap: 20px;
    }
    .home-box {
        width: 45vw;
    }
}
@media only screen and (max-width : 650px){
    .home-box-container{
        grid-template-columns: auto;
    }
    .home-box {
        width: 80vw;
    }
}

@media only screen and (max-width : 300px){
    .home-box {
        width: 100vw;
    }
}
