

.products-items-container{
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 10px;
}

.products-header-container{
    text-align: center;
    color: black;
    text-shadow: 0px 0px 5px white;
}

.products-item {
    background-color: rgb(51 , 51 , 139);
    padding: 10px;
    color: white;
    text-align: center;
}

.products-icon-container{
    display: flex;
    justify-content: center;
}

.products-item-counter {
 width: 20px;
 margin: 5px 10px;
 padding: 0%;
}

.add-item-btn{
    text-align:start;
    padding : 30px
}

.product-add-button{
     margin-left: 20%;
}

@media only screen and (max-width : 700px){
    .products-items-container{
        grid-template-columns: auto auto;
    }
    
}

@media only screen and (max-width : 450px){
    .products-items-container{
        grid-template-columns: auto;
    }
    .product-add-button{
        margin-left: 5%;
   }
    
}